{% extends 'base.html' %}

{% block title %}
    Index page
{% endblock %}

{% block content_title %}
    <p>Happy to see you here!</p>
{% endblock %}

{% block content %}
    <div style="font-size: 3vh; height: 70vh">
        <p> Going travelling and need a car?
            Your car broken down?
            Looking for a quick weekend getaway? Or just need a car to get around?
        </p>
        <p>CarRent is the perfect option for you. With the CarRent, the ideal car for you is in the palm of your
            hands!
        </p>
    </div>
{% endblock %}
