{% extends 'base.html' %}

{% block title %}
    Registration Page
{% endblock %}

{% block content %}
    {% with messages=get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class='alert alert-{{ category }} text-center alert-dismissible fade show m-auto'>
                {{ message }}
            </div>
        {% endfor %}
    {% endwith %}
    <div class="d-flex justify-content-center">
        <form method="POST" class="form-register" style="color:white; justify-content: center">
            <br>
            {{ form.csrf_token() }}

            {{ form.series(class="form-control", placeholder="Passport series") }}
            {{ form.series.label() }}
            {{ form.number(class="form-control", placeholder="Passport number") }}
            {{ form.number.label() }}
            {{ form.published_by(class="form-control", placeholder="Published by") }}
            {{ form.published_by.label() }}
            {{ form.birth_date(class="form-control", placeholder="Birth date") }}
            {{ form.birth_date.label() }}


            {{ form.email.label() }}
            {{ form.email(class="form-control", placeholder="Login/Email") }}
            {{ form.name.label() }}
            {{ form.name(class="form-control", placeholder="Name") }}
            {{ form.surname.label() }}
            {{ form.surname(class="form-control", placeholder="Surname ") }}
            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Password") }}
            {{ form.confirm_password.label() }}
            {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
            <br>
            <div style="margin: 1vh">
                <p style="color: black">Already have an account?</p>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('public.login_page') }}">Sign in</a>
            </div>
            <div style="margin-bottom: 4vh">
                {{ form.submit(class="btn btn-lg btn-block btn-dark") }}
            </div>
        </form>
    </div>
{% endblock %}
